alembic==1.7.7
amqp==5.1.1
aniso8601==9.0.1
apispec==5.1.1
billiard==3.6.4.0
CacheControl==0.12.11
cached-property==1.5.2
cachetools==4.2.4
cachy==0.3.0
celery==5.1.2
certifi==2022.12.7
charset-normalizer==2.0.12
cleo==0.8.1
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clikit==0.6.2
crashtest==0.3.1
distlib==0.3.6
filelock==3.4.1
Flask==1.1.1
flask-apispec==0.11.4
Flask-Caching==1.8.0
flask-marshmallow==0.14.0
Flask-Migrate==2.0.3
Flask-RESTful==0.3.5
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
flask-swagger==0.2.14
google-api-core==2.8.2
google-api-python-client==2.52.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.3
greenlet==2.0.2
gspread==5.5.0
html5lib==1.1
httplib2==0.20.4
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
keyring==22.3.0
kombu==5.1.0
lockfile==0.12.2
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.22.3
msgpack==1.0.5
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.2.0
packaging==20.9
pandas==1.1.5
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.9.6
platformdirs==2.4.0
poetry==1.1.15
poetry-core==1.0.8
prompt-toolkit==3.0.36
protobuf==3.19.4
psycopg2==2.7.7
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylev==1.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.7.1
PyYAML==6.0.1
redis==3.2.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.9
segno==1.6.0
shellingham==1.4.0
six==1.16.0
SQLAlchemy==1.4.46
tomlkit==0.11.6
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.15
vine==5.0.0
virtualenv==20.16.2
wcwidth==0.2.6
webargs==8.0.1
webencodings==0.5.1
Werkzeug==0.16.0
zipp==3.6.0
